.grid-container {
    display: grid;
    grid-gap: 10px;
    height: calc(100% - 20px);
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: transparent;
    color: #444;
}

.rewards{
    grid-column: 4 / span 2;
    grid-row: 1 / span 3;
    height: 100vh;
    font-size: 50px;
}

.rewards tr:hover{
    background-color: orange;
    opacity: 50%;
}

.video{
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    background-color: cornflowerblue;
    align-content: center;
    width: 100%;
    height: 100%;
}

body{
    background-color: darkblue;
}

.questions{
    grid-row: 3;
    grid-column: 1 / span 3;
    height: 100vh;
    font-size: x-large;
}

.grid-container > div{
    border: solid black 2px;
    border-radius: 25px;
    height: 100%;
    background-color: transparent;
}

table tr:nth-child(1n){
    color: orange;
}


table tr:nth-child(5n+1){
    color: white;
}


