.grid-container {
    display: grid;
    grid-gap: 10px;
    height: calc(100% - 20px);
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: transparent;
    color: #444;
}

.rewards{
    grid-column: 4 / span 2;
    grid-row: 1 / span 3;
    height: 100vh;
    font-size: 50px;
}

.rewards tr:hover{
    background-color: orange;
    opacity: 50%;
}

.player{
    grid-row: 1 / span 2 ;
    grid-column: 1 / span 3;
    grid-template-rows: repeat(5, [grow] 1fr);
    grid-template-columns: [gcol] 1fr;
    border: solid black 2px;
    height: 100vh;
}

.gamePlay{
    grid-column: gcol;
    grid-row: grow 5;
}

.video{
    grid-column: col;
    grid-row: row 1 / span 4;
    background-color: cornflowerblue;
    align-content: center;
    width: 95%;
    height: 95%;
    margin: 2%;
}

body{
    background-color: darkblue;
}

.questions{
    grid-row: 3;
    grid-column: 1 / span 3;
    height: 100vh;
    font-size: x-large;
}

.grid-container > div{
    border: solid black 2px;
    border-radius: 25px;
    height: 100%;
    background-color: transparent;
}

table tr:nth-child(1n){
    color: orange;
}

#videoElement{
    height: 95%;
    width: 95%;
    align-self: center;
    border-radius: 25px;
    margin: 2%;
}


table tr:nth-child(5n+1){
    color: white;
}


